<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>

<body>
    <h1>Cupcakes</h1>
    <ul id="cupcakesList">
    </ul>
    <form id="addCupcakeForm">
        <label for="flavor">Flavor</label>
        <input type="text" name="flavor" id="flavor">
        <label for="size">Size</label>
        <input type="text" name="size" id="size">
        <label for="rating">Rating</label>
        <input type="text" name="rating" id="rating">
        <label for="image">Image</label>
        <input type="text" name="image" id="image">
        <button>Submit</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/app.js"></script>
</html>